<div id="<%= dom_id supervisor %>">
    <div>
        <h5><%=supervisor.name+" "+supervisor.last_name%> profile</h5>
    </div>
    <div>
        <p>Email: <%= supervisor.email %></p>
    </div>
    <div>
        <p>Telephone: <%= supervisor.telephone %></p>
    </div>
</div>
