<div style= "margin-left: 30px;">
<p style="color: green"><%= notice %></p>

<h1>Supervisors</h1>

<div id="supervisors">

  <% @supervisors.each do |supervisor| %>
    <ul>
      <li>
        <h5><%= link_to supervisor.name+" "+supervisor.last_name, supervisor, style: "color: inherit; text-decoration: none;" %></h5>
      </li>
    </ul>
  <% end %>
</div>

<%= link_to "New supervisor", new_supervisor_path %>
</div>
