<div style= "margin-left: 30px;">
<p style="color: green"><%= notice %></p>

<%= render @supervisor %>

<div> 
  <%= link_to "Back", supervisors_path, class: 'btn btn-primary', style: "margin-top: 10px;"%>

</div>
</div>
