<div id="<%= dom_id requesting_user %>">
    <div>
        <h5><%=requesting_user.name+" "+requesting_user.last_name%> profile</h5>
    </div>
    <div>
        <p>Email: <%= requesting_user.email %></p>
    </div>
    <div>
        <p>Telephone: <%= requesting_user.telephone %></p>
    </div>
</div>
