<p style="color: green"><%= notice %></p>

<h1>Requesting users</h1>

<div id="requesting_users">

  <% @requesting_users.each do |requesting_user| %>
    <ul>
      <li>
        <h5><%= link_to requesting_user.name+" "+requesting_user.last_name, requesting_user%></h5>
      </li>
    </ul>
  <% end %>
</div>

<%= link_to "New requesting user", new_requesting_user_path %>
