<div style= "margin-left: 30px;">
<p style="color: green"><%= notice %></p>

<%= render @ticket %>

<div>
  <%= link_to "Back to tickets", requesting_user_tickets_path(@ticket.requesting_user) %>
</div>
</div>