<div id="<%= dom_id resolution %>"> 
</div>
<div>
    <p><%=resolution.created_at%></p>
</div>
<div>
<p><%= resolution.description %> | <%= resolution.accepted ? "Not accepted" : "Accepted" %></p>
</div>
