<h1>Editing resolution</h1>

<%= render "form", resolution: @resolution %>

<br>

<div>
  <%= link_to "Show this resolution", @resolution %> |
  <%= link_to "Back to resolutions", resolutions_path %>
</div>
