<div style= "margin-left: 30px;">
<p style="color: green"><%= notice %></p>

<h1>Resolutions</h1>

<div id="resolutions">
  <% @resolutions.each do |resolution| %>
  <h5>
    <li>
    <%= resolution.description %>  
    </li>
  </h5>
    <p>
      <%= link_to "Show this resolution", resolution, class: 'btn btn-primary'%>
      <%= link_to "Back", resolution.ticket, class: 'btn btn-primary'%>
    </p>
  <% end %>
</div>
</div>
