<div style= "margin-left: 30px;">
<p style="color: green"><%= notice %></p>

<%= render @resolution %>

<div>
  <%= link_to "Back", ticket_resolutions_path(@resolution.ticket), class: "btn btn-primary"%>
</div>
</div>
