<div style= "margin-left: 30px;">
<p style="color: green"><%= notice %></p>

<%= render @feedback %>

<div>
  <%= link_to "Back to feedbacks", executive_feedbacks_path(@feedback.executive), class: "btn btn-primary"%>
</div>
</div>
