<div id="<%= dom_id administrator %>">
    <div>
        <h5><%=administrator.name+" "+administrator.last_name%> profile</h5>
    </div>
    <div>
        <p>Email: <%= administrator.email %></p>
    </div>
    <div>
        <p>Telephone: <%= administrator.telephone %></p>
    </div>
</div>
