<div id="<%= dom_id executive %>">
    <div>
        <h5><%=executive.name+" "+executive.last_name%> profile</h5>
    </div>
    <div>
        <p>Email: <%= executive.email %></p>
    </div>
    <div>
        <p>Telephone: <%= executive.telephone %></p>
    </div>
</div>
