<div style= "margin-left: 30px;">
<p style="color: green"><%= notice %></p>

<%= render @executive %>

<div> 

  <%= link_to "See tickets", executive_tickets_path(@executive), class: 'btn btn-primary' %><br>
  <%= link_to "Back", executives_path, class: 'btn btn-primary', style: "margin-top: 10px;"%>

</div>
</div>
